.footer{
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-footer{
    width: 1158px;
    margin: 0 auto;
}

.logo.footer {
    color: #F4F4FD;
    margin-bottom: 16px;
}
.accent{
    color: #4D5AE5;
}

.footer p{
    font-size: 16px;
    color: #F4F4FD;
    letter-spacing: 0.32px;
    line-height: 1.5;
    width: 264px;
}