.header{
    border-bottom: 1px cover #E7E9FC;
    justify-content: space-between;
}
.logo.header{
    color: #2E2F42;
    margin-right: 76px;
    padding: 0;
}
.accent{
    color: #4D5AE5;
}
.menu-link{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 340px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.link:hover{
    color: #404bbf;
}
.link:focus{
    color: #404bbf;
}
.menu-link a{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.32px;
    color: #2E2F42;
}
.contacts{
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: 16px;
    letter-spacing: 0.32px;
    font-style: normal;
    padding-top: 24px;
    padding-bottom: 24px;
}