.list-portfolio{
    display: flex;
    margin-top: 72px;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.photo-p{
    display: block;
}

.card-p{
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    padding: 32px 16px 32px 16px;
}

.decision{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.info{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}